#feed {
  .flex-row {
    &.row {
      display: flex;
      flex-wrap: wrap;

      & > [class*='col-'] {
        display: flex;
        flex-direction: column;
      }

      &:after,
      &:before {
        display: flex;
      }
    }

    .thumbnail,
    .caption {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
    }

    img {
      height:auto;
      width:100%
    }
  }

  .thumbnail {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
  }
}
