<template>
    <div id="feed">
        <v-button v-if="!posts.length" :loading="!posts.length" style="width: 100%">Loading</v-button>

        <div class="flex-row row">
            <div class="col-lg-4 col-md-6 col-sm-12" v-for="item in posts">
                <div class="thumbnail">
                    <a :href="item.link" target='_blank'>
                        <img class="card-img-top" v-lazy="item.img" alt="Article image">
                    </a>
                    <h5 class="card-title p-3 mb-0 font-weight-bold" v-text="item.title"></h5>
                    <p class="caption px-3 pb-2 mb-0" v-text="item.description"></p>
                    <small class="text-muted text-center p-2">{{ $t('last_updated') }} {{ item.date }}</small>
                    <div class="card-footer text-center">
                        <a :href="item.link" class="btn btn-primary w-100" target='_blank'>
                            {{ $t('to_article') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    middleware: 'auth',

    data: () => ({
      posts: []
    }),

    metaInfo () {
      return { title: this.$t('home') }
    },

    methods: {
      update () {
        axios.get('api/feed').then(response => {
          this.posts = response.data.data
        }).catch((e) => {
          console.log(e)
        })
      }
    },

    mounted () {
      this.update()
    }
  }
</script>
