<template>
  <card class="text-center">
    <h5 class="mb-4">{{ $t('register_success') }}</h5>

    <div class="links">
      <router-link :to="{ name: 'login' }">
        {{ $t('go_home') }}
      </router-link>
    </div>
  </card>
</template>

<script>
export default {
  name: 'Register'
}
</script>